/* Anatomia de una regla CSS */
/* p (selector), {color(propiedad), red (valor de la propiedad)}-->Declaracion */
/* p {
    color: red;
    width: 500px;
    border: 1px solid black;
} */
/* Seleccionar varios elementos */
/* p, li, h1 {
    color: red;
} */
html{
    font-size: 10px;
    font-family: 'Reggae One', cursive;
}
h1{
    font-size: 60px;
    text-align: center;
}
p, li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
/* Cambiar el color de la pagina */
html {
    background-color:blue;
}
/* Dar estilo al cuerpo del elemento */
body {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
/* posicionar y dar estilo al titulo principal de la pagina */
h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
}
/* Centrar la imagen */
img {
    display: block;
    margin: 0 auto;
}